.slick-prev:before, .slick-next:before{
    font-size: 40px;
    transition: .5s;
}
.slider-students .slick-prev:before,
.slider-students .slick-next:before{
    color: gray !important;

}
.slick-prev, .slick-next{
    width: 40px;
    height: 40px;
    top: 58%;
}
.slick-prev{
    left: -33px;
}
.slick-next {
    right: -33px;
}
.slick-dots{
    bottom: -47px;
}
.slick-dots li.slick-active button:before{
    color: #fefea1;
    transition: .5s;
}
.slider-students .slick-dots li.slick-active button:before{
    color: #45c5c6;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    display: flex;
}